
.col-item-rows {
  @include make-col();

  @media (max-width: $bk1) {
   // @include make-col-span(9);
  }
  @media (min-width: $bk1) {
    @include make-col-span(9);
  }
}

.col-sort-filter {
  @include make-col();

  @media (max-width: $bk3) {
    column-count: 1;
    column-gap: 1.25rem;
  }
  @media (max-width: $bk2) and (min-width: $bk3) {
    column-count: 2;
    column-gap: 1.25rem;
  }
  @media (max-width: $bk1) and (min-width: $bk2) {
    column-count: 3;
    column-gap: 1.25rem;
  }
  @media (min-width: $bk1) {
    @include make-col-span(3);
  }
}


@media (max-width: $bk1) {
  .filter-holder {
    display:inline;
  }

  #refine_header {
    display: none;
  }

  .col-sort-filter .list-group {
    display: inline-block;
    width: 100%; // Don't let them exceed the column width
  }
}
